venv
*.py[cod]
.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

*.mo
#logs and datafiles
*.err
*.log
*.csv
*.xls
*.xlsx
*.p
*.pkl
*.ana
*.txt
*.npy

src/cache
cache
!cache/.gitkeep
results/*.txt
